	#
	# {{permission.sudocomment}}
	# Version: {{permission.sudoversion}}
	#
	# Proyectos Especiales.
	# Gerencia de tecnologia.
	# Banco Credicoop Coop. Ltdo.
	#
	#
	# Lista de comandos.-----------------------------------
	{{permission.sudocommandalias}}
	#
	# Lista de usuarios aplicado a alias.------------------
	{{permission.sudouseralias}}
	#
	# Asociacion de grupos a permisos.---------------------
	{{permission.sudopermission}}